In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# import countryContinent.csv
country_continent_data = Path("Resources/countryContinent.csv")

country_df = pd.read_csv(country_continent_data, encoding='latin1')
country_df.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

In [3]:
# import Global_Dataset_of_Inflation.csv
inflation_data = Path("Resources/Global_Dataset_of_Inflation.csv")

inflation_df = pd.read_csv(inflation_data, encoding='latin1')
inflation_df.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,1970,1971,1972,1973,1974,...,2019,2020,2021,2022,Note,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,...,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,...,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,...,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,...,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [4]:
# show columns in inflation_df
inflation_df.columns

Index(['Country Code', 'IMF Country Code', 'Country', 'Indicator Type',
       'Series Name', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', 'Note', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63'],
      dtype='object')

In [5]:
# pull desired columns from original dataframe
inflation_df = inflation_df[['Country Code', 'Series Name', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022']]
inflation_df.head()

,Country Code,Series Name,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,Headline Consumer Price Inflation,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,AFG,Headline Consumer Price Inflation,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,...,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN
2,AGO,Headline Consumer Price Inflation,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,ALB,Headline Consumer Price Inflation,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,ARE,Headline Consumer Price Inflation,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22

In [6]:
# show columns in country_df
country_df.columns

Index(['country', 'code_2', 'code_3', 'country_code', 'iso_3166_2',
       'continent', 'sub_region', 'region_code', 'sub_region_code'],
      dtype='object')

In [7]:
# pull desired columns from original dataframe
country_df = country_df[['code_3', 'country', 'continent', 'sub_region']]
country_df.head()

  code_3         country continent       sub_region
0    AFG     Afghanistan      Asia    Southern Asia
1    ALA   Åland Islands    Europe  Northern Europe
2    ALB         Albania    Europe  Southern Europe
3    DZA         Algeria    Africa  Northern Africa
4    ASM  American Samoa   Oceania        Polynesia

In [8]:
# rename coumsn in country_df to match with inflation_df
country_df = country_df.rename(columns={'code_3': 'Country Code', 'country':'Country', 'continent':'Continent', 'sub_region':'Subregion'})
country_df.head()

  Country Code         Country Continent        Subregion
0          AFG     Afghanistan      Asia    Southern Asia
1          ALA   Åland Islands    Europe  Northern Europe
2          ALB         Albania    Europe  Southern Europe
3          DZA         Algeria    Africa  Northern Africa
4          ASM  American Samoa   Oceania        Polynesia

In [9]:
# check for any missing data in country_df
country_df.count()

Country Code    249
Country         249
Continent       240
Subregion       240
dtype: int64

In [10]:
# drop any rows with missing values
country_df = country_df.dropna(how='any')

In [11]:
# check to make sure all columns are now equal
country_df.count()

Country Code    240
Country         240
Continent       240
Subregion       240
dtype: int64

In [12]:
# export country_df as csv without index
country_df.to_csv('Output/countries.csv', index=False, header=True)

In [13]:
# check inflation type
inflation_df['Series Name'].unique()

array(['Headline Consumer Price Inflation',
       'Energy Consumer Price Inflation', 'Food Consumer Price Inflation',
       'Official Core Consumer Price Inflation',
       'Producer Price Inflation'], dtype=object)

In [37]:
# create DataFrame for 'Headline Consumer Price Inflation'
headline_inflation = inflation_df[inflation_df['Series Name'] == 'Headline Consumer Price Inflation']

# drop 'Series Name' column
headline_inflation = headline_inflation.drop('Series Name', axis='columns')

# drop any rows with missing values
headline_inflation = headline_inflation.dropna(how='any')

headline_inflation.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
2,AGO,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
3,ALB,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
4,ARE,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
5,ARG,25.87,13.44,4.42,9.64,10.90,8.83,8.59,6.27,10.46,...,10.62,38.08,26.54,39.40,25.68,34.28,53.55,42.02,48.41,72.43
6,ARM,1.79,4.54,5.93,0.72,3.43,4.55,9.02,3.54,7.27,...,5.79,2.98,3.73,-1.41,1.03,2.52,1.44,1.21,7.18,8.78
7,ATG,2.41,1.99,2.03,2.10,1.79,1.42,5.33,-0.55,3.37,...,1.06,1.09,0.97,-0.49,2.43,1.21,1.48,1.06,1.63,8.52
8,AUS,2.98,2.73,2.34,2.69,3.56,2.33,4.35,1.77,2.92,...,2.45,2.49,1.51,1.28,1.97,1.91,1.61,0.85,2.82,6.50
9,AUT,1.81,1.36,2.06,2.30,1.44,2.17,3.22,0.51,1.81,...,2.00,1.61,0.90,0.89,2.23,2.00,1.49,1.38,2.77,8.50
10,AZE,2.78,2.13,6.71,9.54,8.23,16.57,20.80,1.33,5.69,...,2.43,1.43,4.03,12.44,12.84,2.33,2.71,2.76,6.65,13.85

In [39]:
# merge headline_inflation with country_df
headline_inflation = pd.merge(country_df, headline_inflation, on='Country Code', how='right')

headline_inflation.head(10)

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,Aruba,Americas,Caribbean,3.32,3.66,2.53,3.40,3.61,5.39,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,AGO,Angola,Africa,Middle Africa,108.89,98.22,43.53,22.96,13.31,12.25,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
2,ALB,Albania,Europe,Southern Europe,5.18,2.38,2.83,2.36,2.41,2.91,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
3,ARE,United Arab Emirates,Asia,Western Asia,2.92,3.12,5.04,6.20,9.28,11.13,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
4,ARG,Argentina,Americas,South America,25.87,13.44,4.42,9.64,10.90,8.83,...,10.62,38.08,26.54,39.40,25.68,34.28,53.55,42.02,48.41,72.43
5,ARM,Armenia,Asia,Western Asia,1.79,4.54,5.93,0.72,3.43,4.55,...,5.79,2.98,3.73,-1.41,1.03,2.52,1.44,1.21,7.18,8.78
6,ATG,Antigua and Barbuda,Americas,Caribbean,2.41,1.99,2.03,2.10,1.79,1.42,...,1.06,1.09,0.97,-0.49,2.43,1.21,1.48,1.06,1.63,8.52
7,AUS,Australia,Oceania,Australia and New Zealand,2.98,2.73,2.34,2.69,3.56,2.33,...,2.45,2.49,1.51,1.28,1.97,1.91,1.61,0.85,2.82,6.50
8,AUT,Austria,Europe,Western Europe,1.81,1.36,2.06,2.30,1.44,2.17,...,2.00,1.61,0.90,0.89,2.23,2.00,1.49,1.38,2.77,8.50
9,AZE,Azerbaijan,Asia,Western Asia,2.78,2.13,6.71,9.54,8.23,16.57,...,2.43,1.43,4.03,12.44,12.84,2.33,2.71,2.76,6.65,13.85

In [29]:
# create DataFrame for 'Energy Consumer Price Inflation'
energy_inflation = inflation_df[inflation_df['Series Name'] == 'Energy Consumer Price Inflation']

# drop 'Series Name' column
energy_inflation = energy_inflation.drop('Series Name', axis='columns')

# drop any rows with missing values
energy_inflation = energy_inflation.dropna(how='any')

# reset index
energy_inflation = energy_inflation.reset_index(drop=True)

energy_inflation.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,3.87,5.51,2.08,6.69,7.43,5.51,13.79,-8.20,9.43,...,-7.46,1.57,3.80,-2.47,-3.20,0.80,1.23,-1.28,1.26,5.38
1,ALB,11.90,4.50,27.20,25.00,5.70,7.10,3.87,1.75,3.62,...,0.24,1.33,-0.52,0.04,1.00,2.80,0.69,1.42,2.70,15.73
2,AUS,3.25,4.29,4.01,3.82,3.34,4.08,6.24,5.43,5.49,...,4.67,3.04,2.54,1.68,2.89,2.35,-1.21,-0.12,10.93,16.93
3,AUT,0.85,1.34,3.56,5.43,4.28,4.63,2.71,1.82,2.58,...,2.39,1.59,1.19,0.83,1.73,2.28,0.90,2.40,12.25,40.14
4,BDI,3.37,3.90,4.04,10.29,8.12,10.81,15.93,11.83,9.76,...,6.37,6.96,3.69,0.97,7.41,10.83,7.41,5.06,7.82,10.69
5,BEL,0.59,1.08,3.14,5.32,4.67,1.48,11.58,-3.91,3.39,...,-0.61,-1.41,0.40,2.14,3.74,3.04,0.87,-1.82,12.33,54.95
6,BEN,3.35,5.23,1.45,7.56,7.00,-0.38,4.88,2.69,2.19,...,-0.51,0.97,-0.11,-0.77,1.06,3.05,-1.43,2.88,-1.93,0.94
7,BFA,5.78,4.90,0.83,0.21,4.70,-1.33,12.06,10.73,2.96,...,2.79,2.84,3.05,0.66,-0.35,-0.72,1.40,-1.48,1.99,3.31
8,BGR,14.77,11.62,7.67,5.50,4.62,5.97,12.01,6.45,0.48,...,-0.59,-2.02,3.42,0.03,3.18,4.59,3.90,0.99,10.60,28.42
9,BHR,0.00,-0.30,0.10,-0.10,0.10,2.24,2.24,2.24,-1.22,...,8.73,4.89,4.61,3.03,3.48,1.24,2.87,-2.61,-1.26,-1.06

In [31]:
# create DataFrame for 'Food Consumer Price Inflation'
food_inflation = inflation_df[inflation_df['Series Name'] == 'Food Consumer Price Inflation']

# drop 'Series Name' column
food_inflation = food_inflation.drop('Series Name', axis='columns')

# drop any rows with missing values
food_inflation = food_inflation.dropna(how='any')

# reset index
food_inflation = food_inflation.reset_index(drop=True)

food_inflation.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ALB,6.30,4.30,-0.10,-0.50,1.00,2.99,5.23,4.91,4.81,...,4.24,2.20,4.32,3.25,3.91,2.67,2.91,3.61,3.90,11.42
1,ARM,2.20,6.90,10.00,0.80,4.10,6.70,11.10,-0.90,9.40,...,5.81,0.51,27.85,-22.03,3.99,2.34,1.87,0.27,11.21,13.31
2,AUS,3.57,3.65,2.34,2.38,7.79,2.33,4.67,3.73,1.55,...,0.80,2.54,0.92,0.82,0.71,0.97,4.48,9.28,7.91,7.03
3,AUT,1.34,1.79,1.92,1.24,1.88,4.21,6.29,0.20,0.48,...,3.47,1.94,0.83,0.73,2.37,1.52,1.02,2.33,0.78,10.23
4,AZE,3.70,3.30,10.00,10.90,12.00,16.30,28.50,-1.50,7.24,...,2.32,0.90,6.07,14.75,16.52,1.78,3.69,4.81,8.16,20.07
5,BDI,-5.72,13.83,10.87,17.82,0.53,8.90,34.22,11.07,6.20,...,9.50,2.30,5.79,7.18,23.96,-10.99,-2.83,8.57,10.39,21.09
6,BEL,2.36,2.05,1.26,1.77,2.56,3.91,6.08,0.85,1.66,...,3.42,-0.38,1.20,2.24,1.26,2.16,4.46,2.88,-0.39,8.21
7,BEN,5.50,-2.30,-0.70,9.20,-0.50,-1.10,18.00,5.60,5.60,...,2.56,-0.77,0.41,-0.46,-0.05,2.05,-2.79,0.49,5.92,-0.70
8,BFA,3.10,-1.70,-4.80,14.60,-0.20,-1.70,23.30,2.60,1.46,...,-0.35,-3.18,2.41,0.96,0.43,3.37,-6.43,3.76,6.82,24.97
9,BGD,2.00,5.80,7.50,8.00,7.60,10.50,11.00,5.50,10.10,...,7.93,7.91,6.05,4.51,7.17,6.21,5.56,5.77,5.30,7.66

In [32]:
# create DataFrame for 'Official Core Consumer Price Inflation'
consumer_inflation = inflation_df[inflation_df['Series Name'] == 'Official Core Consumer Price Inflation']

# drop 'Series Name' column
consumer_inflation = consumer_inflation.drop('Series Name', axis='columns')

# drop any rows with missing values
consumer_inflation = consumer_inflation.dropna(how='any')

# reset index
consumer_inflation = consumer_inflation.reset_index(drop=True)

consumer_inflation.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AUS,4.77,26.14,2.18,2.39,-12.31,31.31,3.83,2.12,58.17,...,1.13,2.57,2.33,27.38,5.54,1.54,1.49,0.44,1.41,5.05
1,AUT,2.16,1.41,1.78,1.69,0.92,1.62,1.94,1.77,1.41,...,2.07,1.98,1.85,1.47,1.97,1.81,1.65,1.90,2.15,5.28
2,ARM,0.14,2.50,4.92,0.79,2.71,3.78,11.75,3.69,7.49,...,5.85,1.88,5.14,-2.02,0.70,3.70,1.17,1.30,7.23,8.28
3,BEL,-8.18,24.44,1.87,2.14,0.61,1.63,1.94,1.94,1.40,...,1.35,1.57,1.37,1.96,1.52,1.31,3.77,1.48,1.61,4.42
4,BRA,8.38,13.08,7.92,7.45,4.52,3.56,4.92,5.18,5.03,...,5.81,6.49,8.61,7.61,4.47,3.28,3.52,2.23,5.10,8.94
5,CAN,2.68,2.42,1.34,1.36,1.27,2.04,1.06,1.69,1.34,...,0.83,1.56,2.55,2.02,1.78,2.02,2.29,1.29,2.40,5.03
6,CHE,0.63,-0.78,0.80,0.82,0.71,0.63,1.45,1.09,0.22,...,-0.85,-0.01,-0.35,-0.33,0.29,0.37,0.46,-0.25,0.36,1.71
7,CHL,2.68,1.63,1.22,2.38,2.99,2.35,5.18,1.16,0.53,...,1.49,3.59,4.67,4.00,2.03,1.72,2.21,2.29,3.82,8.97
8,COL,5.78,6.44,5.66,4.62,3.72,5.79,5.61,4.66,2.83,...,2.48,2.77,4.19,6.58,5.06,3.35,3.44,2.25,2.07,6.22
9,CRI,8.81,9.77,9.54,10.41,10.81,7.94,12.46,9.76,5.14,...,5.31,4.34,1.81,0.14,1.24,2.10,2.38,1.31,0.88,1.88

In [33]:
# create DataFrame for 'Producer Price Inflation'
producer_inflation = inflation_df[inflation_df['Series Name'] == 'Producer Price Inflation']

# drop 'Series Name' column
producer_inflation = producer_inflation.drop('Series Name', axis='columns')

# drop any rows with missing values
producer_inflation = producer_inflation.dropna(how='any')

# reset index
producer_inflation = producer_inflation.reset_index(drop=True)

producer_inflation.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ARM,3.59,8.86,20.97,7.58,0.92,0.65,3.33,7.07,22.57,...,4.72,8.47,-0.77,1.51,2.16,0.08,0.63,2.98,9.87,3.54
1,AUS,0.22,-1.23,7.66,6.04,6.14,2.29,8.08,-5.50,7.08,...,-0.50,-3.47,-4.94,-1.43,8.49,5.21,1.01,-3.71,5.74,6.74
2,AUT,-1.14,-0.06,1.73,3.10,1.69,2.77,3.49,-1.56,2.74,...,-0.88,-1.10,-1.48,-1.83,1.96,2.38,0.11,-1.59,7.95,19.89
3,BEL,0.22,-1.23,7.66,6.04,6.14,2.29,8.08,-5.50,7.08,...,-0.50,-3.47,-2.00,-1.42,8.49,5.21,1.02,-3.71,17.34,38.21
4,BGR,1.29,4.94,5.97,8.11,12.89,7.57,10.32,-6.89,8.93,...,-1.63,-1.25,-1.98,-3.11,4.98,3.95,3.07,-1.90,15.29,38.76
5,BLR,-1.83,3.01,1.22,3.23,4.01,1.22,4.14,-3.30,1.85,...,-0.19,-0.54,-0.54,-1.24,1.94,1.86,0.94,-0.76,12.24,15.72
6,BRA,16.66,27.56,10.46,5.56,0.81,5.60,13.70,-0.21,5.72,...,5.93,4.59,5.98,3.91,2.63,11.28,29.17,17.83,35.41,19.05
7,CAN,0.06,-1.22,3.20,1.64,2.27,1.54,4.35,-3.50,1.50,...,0.41,2.49,-0.84,-0.20,3.13,3.85,-0.12,-0.46,13.88,13.49
8,CHE,-0.48,-0.70,0.68,1.09,2.03,2.31,3.05,-1.51,-0.16,...,0.19,-0.82,-3.57,-1.49,-0.47,1.41,-0.32,-0.55,1.22,4.16
9,CHN,-2.26,2.34,6.10,5.29,3.63,3.26,7.27,-5.07,6.26,...,-1.90,-1.88,-5.19,-1.00,6.25,3.59,-0.47,-1.83,1.65,8.74

In [17]:
# merge country_df into inflation_df on 'Country Code'
merged_df = pd.merge(country_df, inflation_df, on='Country Code', how='right')
merged_df

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABW,Aruba,Americas,Caribbean,3.32,3.66,2.53,3.40,3.61,5.39,...,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04
1,AGO,Angola,Africa,Middle Africa,108.89,98.22,43.53,22.96,13.31,12.25,...,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35
2,ALB,Albania,Europe,Southern Europe,5.18,2.38,2.83,2.36,2.41,2.91,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
3,ARE,United Arab Emirates,Asia,Western Asia,2.92,3.12,5.04,6.20,9.28,11.13,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
4,ARG,Argentina,Americas,South America,25.87,13.44,4.42,9.64,10.90,8.83,...,10.62,38.08,26.54,39.40,25.68,34.28,53.55,42.02,48.41,72.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,TUR,Turkey,Asia,Western Asia,50.11,22.67,14.56,5.89,8.30,6.31,...,4.48,10.25,5.28,4.30,15.82,27.01,17.56,12.14,43.86,130.85
535,UKR,Ukraine,Europe,Eastern Europe,3.05,7.71,20.32,16.71,9.49,19.48,...,-0.05,17.17,35.69,20.92,26.45,17.58,4.14,-1.88,40.82,61.05
536,URY,Uruguay,Americas,South America,31.93,38.92,14.69,-2.57,5.92,11.81,...,3.94,10.41,6.83,3.35,1.67,9.67,12.78,10.46,14.42,14.19
537,USA,United States of America,Americas,Northern America,-2.29,5.35,6.18,7.32,4.67,4.80,...,1.36,1.58,-0.87,0.42,2.33,2.90,1.69,-2.12,8.95,7.91
538,ZAF,South Africa,Africa,Southern Africa,0.22,-1.23,7.66,6.04,6.14,2.29,...,6.00,7.40,3.61,7.08,4.88,5.45,4.62,2.49,7.12,14.36

In [18]:
# export merged_df as csv without index
merged_df.to_csv('Output/country_inflation_merged.csv', index=False, header=True)

In [19]:
# find all listed continents
merged_df['Continent'].unique()

array(['Americas', 'Africa', 'Europe', 'Asia', 'Oceania'], dtype=object)

In [32]:
# creating new df for countries in the Americas
americas_df = merged_df[merged_df['Continent'] == 'Americas'].copy()
americas_df.head(10)

,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2016,2017,2018,2019,2020,2021,2022,Country,Continent,Subregion
0,ABW,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,...,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Aruba,Americas,Caribbean
4,ARG,25.87,13.44,4.42,9.64,10.90,8.83,8.59,6.27,10.46,...,39.40,25.68,34.28,53.55,42.02,48.41,72.43,Argentina,Americas,South America
6,ATG,2.41,1.99,2.03,2.10,1.79,1.42,5.33,-0.55,3.37,...,-0.49,2.43,1.21,1.48,1.06,1.63,8.52,Antigua and Barbuda,Americas,Caribbean
17,BHS,1.50,3.66,1.16,1.82,1.96,2.41,4.43,1.67,1.62,...,-0.35,1.55,2.23,1.34,0.04,2.91,5.66,Bahamas,Americas,Caribbean
20,BLZ,2.20,2.62,3.07,3.65,4.24,2.32,6.39,-1.10,0.92,...,0.66,1.15,0.24,0.19,0.12,3.26,6.18,Belize,Americas,Central America
21,BOL,0.93,3.34,4.44,5.40,2.33,8.71,14.01,3.34,2.50,...,3.63,2.82,2.27,1.84,0.94,0.74,1.75,Bolivia (Plurinational State of),Americas,South America
22,BRA,8.45,14.71,6.60,6.87,4.18,3.64,5.68,4.89,5.04,...,8.74,3.45,3.66,3.73,3.21,8.30,9.30,Brazil,Americas,South America
23,BRB,0.17,1.58,1.43,6.07,7.31,4.03,8.11,3.64,5.82,...,1.28,4.41,3.69,4.10,2.88,3.06,9.90,Barbados,Americas,Caribbean
28,CYM,2.49,0.55,4.47,7.29,0.75,2.92,4.08,-1.47,0.27,...,-0.59,2.00,3.30,5.70,1.00,0.76,8.20,Cayman Islands,Americas,Caribbean
29,CAN,2.26,2.76,1.86,2.21,2.00,2.14,2.37,0.30,1.78,...,1.43,1.60,2.27,1.95,0.72,3.40,6.80,Canada,Americas,Northern America

In [33]:
# calculate mean for each year
americas_df.loc[:, '2002':'2022'].mean()

2002       6.127383
2003       8.876168
2004       7.967383
2005       6.415327
2006       5.951402
2007       6.308785
2008      10.778131
2009       2.894766
2010       4.753645
2011       6.478692
2012       4.489439
2013       4.351402
2014       5.552617
2015       6.104112
2016       7.933364
2017      12.696168
2018    1859.051121
2019     520.062243
2020      45.909439
2021      49.707570
2022      15.947103
dtype: float64

In [34]:
# descriptive stats for 2018
americas_df['2018'].describe()

count      107.000000
mean      1859.051121
std      11641.236025
min         -1.630000
25%          1.360000
50%          3.010000
75%          4.130000
max      94802.370000
Name: 2018, dtype: float64

In [23]:
# locate max value for 2018
americas_df.loc[americas_df['2018'] == 94802.37]

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
285,VEN,Venezuela (Bolivarian Republic of),Americas,South America,16.08,12.85,9.62,7.24,6.8,6.55,...,12.1,16.37,22.12,2.5,109.58,94802.37,17687.47,1.79,1137.51,164.09

In [35]:
# descriptive stats for 2019
americas_df['2019'].describe()

count      107.000000
mean       520.062243
std       3061.991211
min         -2.250000
25%          0.900000
50%          2.210000
75%          4.160000
max      19906.020000
Name: 2019, dtype: float64

In [25]:
# locate max value for 2019
americas_df.loc[americas_df['2019'] == 19906.02]

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
177,VEN,Venezuela (Bolivarian Republic of),Americas,South America,22.43,31.09,21.75,15.95,13.65,18.7,...,40.59,62.14,121.4,254.39,438.12,65374.08,19906.02,2355.15,1588.51,220.84

In [18]:
merged_df.loc[merged_df['Country Code'] == 'VEN']

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
177,VEN,Venezuela (Bolivarian Republic of),Americas,South America,22.43,31.09,21.75,15.95,13.65,18.70,...,40.59,62.14,121.40,254.39,438.12,65374.08,19906.02,2355.15,1588.51,220.84
285,VEN,Venezuela (Bolivarian Republic of),Americas,South America,16.08,12.85,9.62,7.24,6.80,6.55,...,12.10,16.37,22.12,2.50,109.58,94802.37,17687.47,1.79,1137.51,164.09
411,VEN,Venezuela (Bolivarian Republic of),Americas,South America,28.31,37.61,33.81,21.14,20.07,26.83,...,54.15,86.73,218.67,217.74,482.70,38386.00,17710.79,2220.00,1934.56,193.71

In [16]:
# creating new df for countries in the Africa
africa_df = merged_df[merged_df['Continent'] == 'Africa']
africa_df

NameError: name 'merged_df' is not defined

In [28]:
# creating new df for countries in the Europe
europe_df = merged_df[merged_df['Continent'] == 'Europe'].copy()
europe_df

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,ALB,Albania,Europe,Southern Europe,5.18,2.38,2.83,2.36,2.41,2.91,...,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73
8,AUT,Austria,Europe,Western Europe,1.81,1.36,2.06,2.30,1.44,2.17,...,2.00,1.61,0.90,0.89,2.23,2.00,1.49,1.38,2.77,8.50
11,BEL,Belgium,Europe,Western Europe,1.65,1.59,2.10,2.78,1.79,1.82,...,1.11,0.34,0.56,1.97,2.22,2.05,1.25,0.74,2.44,9.60
15,BGR,Bulgaria,Europe,Eastern Europe,5.86,2.39,6.14,5.03,7.26,8.42,...,0.89,-1.41,-0.10,-0.80,1.19,2.81,2.46,1.67,2.79,15.33
18,BIH,Bosnia and Herzegovina,Europe,Southern Europe,0.31,0.55,0.28,3.58,6.08,1.55,...,-0.09,-0.92,-1.01,-1.06,0.81,1.27,0.62,-1.05,1.98,13.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,SRB,Serbia,Europe,Southern Europe,10.68,5.89,9.55,11.91,12.16,6.24,...,3.08,0.93,0.29,-0.42,3.17,2.23,0.63,-1.19,8.62,15.98
528,SVK,Slovakia,Europe,Eastern Europe,2.07,6.30,1.83,3.49,3.26,-1.19,...,-0.99,-3.42,-2.89,-3.98,2.43,2.52,1.91,-1.52,6.80,29.48
529,SVN,Slovenia,Europe,Southern Europe,3.61,1.22,2.58,1.88,2.25,4.19,...,0.02,-0.61,-0.22,-1.36,2.15,2.07,0.68,-0.24,5.54,19.10
530,SWE,Sweden,Europe,Northern Europe,-0.07,0.00,0.70,3.99,5.08,3.69,...,-2.80,1.43,0.01,-0.92,5.20,6.60,2.97,-0.25,10.69,22.15
535,UKR,Ukraine,Europe,Eastern Europe,3.05,7.71,20.32,16.71,9.49,19.48,...,-0.05,17.17,35.69,20.92,26.45,17.58,4.14,-1.88,40.82,61.05

In [29]:
# creating new df for countries in the Asia
aisa_df = merged_df[merged_df['Continent'] == 'Asia'].copy()
aisa_df

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,ARE,United Arab Emirates,Asia,Western Asia,2.92,3.12,5.04,6.20,9.28,11.13,...,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22
5,ARM,Armenia,Asia,Western Asia,1.79,4.54,5.93,0.72,3.43,4.55,...,5.79,2.98,3.73,-1.41,1.03,2.52,1.44,1.21,7.18,8.78
9,AZE,Azerbaijan,Asia,Western Asia,2.78,2.13,6.71,9.54,8.23,16.57,...,2.43,1.43,4.03,12.44,12.84,2.33,2.71,2.76,6.65,13.85
14,BGD,Bangladesh,Asia,Southern Asia,3.72,5.36,6.10,7.04,6.77,9.11,...,7.52,6.98,6.19,5.51,5.61,5.55,5.47,5.69,5.31,7.70
16,BHR,Bahrain,Asia,Western Asia,-0.50,1.68,2.25,2.62,2.04,3.25,...,3.30,2.65,1.84,2.80,1.39,2.08,1.00,-2.32,-0.61,3.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,PHL,Philippines,Asia,South-Eastern Asia,2.03,8.64,12.03,9.04,11.17,-0.72,...,-7.57,-0.92,-6.72,-4.77,-0.93,0.68,1.63,-4.04,-1.78,5.91
525,SGP,Singapore,Asia,South-Eastern Asia,-6.91,-0.76,4.57,5.67,2.36,-1.56,...,-3.07,-3.41,-9.16,-5.50,3.83,4.41,-3.32,-6.92,15.22,22.02
531,THA,Thailand,Asia,South-Eastern Asia,1.67,4.01,6.72,9.18,7.07,3.22,...,0.31,0.14,-4.11,-1.18,0.70,0.38,-0.96,-1.60,4.72,10.90
532,TJK,Tajikistan,Asia,Central Asia,9.35,15.27,16.43,7.54,42.68,21.85,...,3.89,0.88,4.32,6.71,9.32,2.18,1.79,5.45,3.83,15.21
534,TUR,Turkey,Asia,Western Asia,50.11,22.67,14.56,5.89,8.30,6.31,...,4.48,10.25,5.28,4.30,15.82,27.01,17.56,12.14,43.86,130.85

In [30]:
# creating new df for countries in the Oceania
oceania_df = merged_df[merged_df['Continent'] == 'Oceania'].copy()
oceania_df

,Country Code,Country,Continent,Subregion,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
7,AUS,Australia,Oceania,Australia and New Zealand,2.98,2.73,2.34,2.69,3.56,2.33,...,2.45,2.49,1.51,1.28,1.97,1.91,1.61,0.85,2.82,6.50
56,FJI,Fiji,Oceania,Melanesia,0.72,4.22,2.83,2.30,2.53,4.81,...,2.91,0.53,1.38,3.87,3.35,4.08,1.77,-2.60,0.16,4.52
58,FSM,Micronesia (Federated States of),Oceania,Micronesia,-0.16,-0.24,1.75,4.08,4.40,3.64,...,2.15,0.68,-0.16,-1.04,0.10,1.50,1.86,0.48,2.09,5.79
91,KIR,Kiribati,Oceania,Micronesia,3.18,1.63,-0.74,-0.35,-1.00,3.59,...,-1.49,2.10,0.57,1.92,0.36,0.59,-1.88,2.48,3.00,5.60
129,NZL,New Zealand,Oceania,Australia and New Zealand,2.68,1.75,2.29,3.04,3.37,2.38,...,1.13,1.23,0.29,0.65,1.85,1.60,1.62,1.71,3.94,6.28
135,PLW,Palau,Oceania,Micronesia,0.09,0.50,0.95,4.08,4.08,3.29,...,3.41,4.15,0.95,-1.03,0.90,1.57,0.61,0.22,0.45,12.20
136,PNG,Papua New Guinea,Oceania,Melanesia,11.80,14.71,2.16,1.78,2.37,0.91,...,4.96,5.22,6.00,6.69,5.43,4.73,3.68,3.37,4.49,6.60
149,SLB,Solomon Islands,Oceania,Melanesia,9.37,10.08,6.92,7.53,11.22,7.66,...,5.39,5.17,-0.56,0.50,0.48,2.66,1.83,2.96,-0.11,3.74
165,TON,Tonga,Oceania,Polynesia,10.36,11.64,10.97,8.67,6.15,5.84,...,2.11,1.17,-1.05,2.58,7.37,2.91,3.29,0.24,1.41,8.52
169,TUV,Tuvalu,Oceania,Polynesia,5.05,2.91,2.37,3.22,4.19,2.29,...,2.01,1.07,3.14,3.51,4.12,2.14,2.18,1.57,2.94,5.71
179,VUT,Vanuatu,Oceania,Melanesia,1.96,3.02,1.42,1.20,2.04,3.93,...,1.46,0.80,2.48,0.84,3.09,2.31,2.75,2.92,2.34,4.58
180,WSM,Samoa,Oceania,Polynesia,7.43,4.37,7.85,7.82,3.23,4.48,...,-0.21,-1.24,1.92,0.13,1.30,4.20,2.19,-1.57,-3.01,8.75
187,AUS,Australia,Oceania,Australia and New Zealand,3.25,4.29,4.01,3.82,3.34,4.08,...,4.67,3.04,2.54,1.68,2.89,2.35,-1.21,-0.12,10.93,16.93
216,FJI,Fiji,Oceania,Melanesia,-2.90,2.70,8.30,14.30,6.60,-0.90,...,0.75,0.15,-4.47,-5.03,1.99,2.07,-0.19,-1.17,3.01,5.35
260,NZL,New Zealand,Oceania,Australia and New Zealand,3.16,5.24,6.54,5.54,5.06,5.21,...,3.04,3.38,2.78,3.18,3.13,3.06,0.86,2.93,8.55,16.83
278,TON,Tonga,Oceania,Polynesia,-0.15,0.13,2.74,2.50,2.88,4.26,...,0.15,0.68,0.89,-0.29,0.04,2.41,0.95,0.51,5.98,26.01
290,AUS,Australia,Oceania,Australia and New Zealand,3.57,3.65,2.34,2.38,7.79,2.33,...,0.80,2.54,0.92,0.82,0.71,0.97,4.48,9.28,7.91,7.03
327,FJI,Fiji,Oceania,Melanesia,0.50,6.20,3.80,1.70,1.80,9.70,...,3.53,1.92,4.77,5.99,-2.15,1.08,4.88,-2.38,6.50,5.35
372,NCL,New Caledonia,Oceania,Melanesia,4.50,-4.70,-1.50,14.90,-1.82,-0.53,...,4.44,-1.27,0.46,-1.21,0.75,-0.57,-4.59,-0.21,7.47,8.15
378,NZL,New Zealand,Oceania,Australia and New Zealand,2.91,-0.44,0.36,1.24,2.98,3.98,...,0.43,0.31,-0.06,-0.60,2.17,-0.24,1.08,3.18,1.76,7.60
383,PNG,Papua New Guinea,Oceania,Melanesia,17.10,13.30,0.50,3.50,5.30,0.60,...,-1.72,4.90,4.86,5.07,2.83,0.81,3.01,2.23,4.36,5.68
402,TON,Tonga,Oceania,Polynesia,16.80,9.60,9.10,6.00,2.94,7.35,...,1.86,3.65,1.86,1.33,8.60,9.10,1.73,1.90,7.24,10.24
416,AUS,Australia,Oceania,Australia and New Zealand,4.77,26.14,2.18,2.39,-12.31,31.31,...,1.13,2.57,2.33,27.38,5.54,1.54,1.49,0.44,1.41,5.05
455,NZL,New Zealand,Oceania,Australia and New Zealand,2.73,1.83,2.15,2.84,2.78,2.35,...,1.24,1.48,1.27,1.37,1.40,1.15,1.84,2.31,3.71,5.74
474,AUS,Australia,Oceania,Australia and New Zealand,0.22,-1.23,7.66,6.04,6.14,2.29,...,-0.50,-3.47,-4.94,-1.43,8.49,5.21,1.01,-3.71,5.74,6.74
517,NZL,New Zealand,Oceania,Australia and New Zealand,0.13,-0.77,1.88,4.65,6.21,2.38,...,1.54,0.07,-2.16,0.48,4.50,4.21,2.24,21.30,5.71,5.77